body {
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.container {
  display: flex;
  gap: 10px;
}

.calculator {
  flex: 1;
  /* Take up 50% of the container */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo {
  flex: 1;
  /* Take up 50% of the container */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  margin-top: 5px;
}

.results {
  margin-top: 1rem;
}
